blockquote
  font-size: 1rem
  color: rgb(85, 82, 82)
  padding: 1rem 1.5rem
  background-color: #f3f5f7
  border-color: #42b983
  border-left-width: .5rem
  border-left-style: solid
  margin: 1rem 0
  border-radius: 4px


img
  position relative
  z-index 1


.dropdown-wrapper .dropdown-title
  outline: none


.sidebar-group.is-sub-group > .sidebar-heading
  font-size: 1.2em
  font-weight: bold !important


.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable)
  opacity: 1 !important
  font-size: 1em


.arrow.down
  border-top: 6px solid #555


.arrow.right
  border-left: 6px solid #555


a.active.sidebar-link ~ ul
  background-color: rgba(62, 175, 124, .1)
  border-radius: 3px


div[class*="language-"].line-numbers-mode pre
  padding-left: 4.5rem
  vertical-align: middle


div[class*="language-"] pre, div[class*="language-"] pre[class*="language-"]
  background: transparent
  position: relative
  z-index: 1


.theme-default-content pre, .theme-default-content pre[class*="language-"]
  line-height: 1.4
  padding: 1.25rem 1.5rem
  margin: 0.85rem 0
  background-color: #282c34
  border-radius: 6px
  overflow: auto


:not(pre) > code[class*="language-"], pre[class*="language-"]
  background: #2d2d2d


code[class*="language-"], pre[class*="language-"]
  overflow-x: auto


code[class*="language-"]::-webkit-scrollbar,
pre[class*="language-"]::-webkit-scrollbar
  width: 1px
  height: 10px


.sidebar::-webkit-scrollbar
  width: 8px
  height: 1px


.sidebar::-webkit-scrollbar-thumb,
code[class*="language-"]::-webkit-scrollbar-thumb,
pre[class*="language-"]::-webkit-scrollbar-thumb
  border-radius: 10px
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2)
  background: #c1c1c1


.sidebar::-webkit-scrollbar-track,
code[class*="language-"]::-webkit-scrollbar-track,
pre[class*="language-"]::-webkit-scrollbar-track
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0)
  border-radius: 10px
  background: #dddddd


div[class*="language-"].line-numbers-mode::after
  width: 2.5rem


div[class*="language-"].line-numbers-mode .line-numbers-wrapper
  width: 2.5rem
  color: rgba(255, 255, 255, 0.5)


a.sidebar-link.active
  background-color: rgba(62, 175, 124, .1)


.custom-block.details
  border-radius: 5px
  background-color: rgba(62, 175, 124, .1)

.global-ui .go-to-top
  right: 1rem !important


.custom-block
  border-radius 4px


::selection
  color #42b983
  background-color #e6fdf3

h4[id*="反例"],
h4[id*="好例"]
  margin-top: 0 !important
  padding: 25.6px !important
  background-color: #FFF5EE
  background-clip: padding-box
  border-top-left-radius: 5px
  border-top-right-radius: 5px

h4[id*="反例"]+div[class^="language"],
h4[id*="好例"]+div[class^="language"]
  margin: 25.6px 25.6px 52px 25.6px !important
  z-index:1

h4[id*="反例"]+div[class^="language"] pre[class*="language-"],
h4[id*="好例"]+div[class^="language"] pre[class*="language-"]
  background: #333333 !important


div[class*="language-"].line-numbers-mode .line-numbers-wrapper::after
  content: ''
  position: absolute
  top: 0
  left: 100%
  width: 1px
  height: 100%
  background: #291212
  z-index: 1


h4[id*="反例"]+div[class^="language"]::after,
h4[id*="好例"]+div[class^="language"]::after
  content: ''
  position: absolute
  top: -25.6px
  left: -25.6px
  z-index: 0
  width: calc(100% + 51px)
  height: calc(100% + 51.2px)
  background-color: #FFF5EE
  border-right-width:0
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px

h4[id^="好例"]
  background-color: #F0FFF0

h4[id*="好例"]+div[class^="language"]::after
  background-color: #F0FFF0

#valine-vuepress-comment
  max-width 740px
  margin 0 auto
